{% extends 'base.html' %}

{% block head %}
<title>Common statistic</title>
<style>
th,td {
  border-right: 2px solid black;
}
th {
  border-bottom: 2px solid black;
}

</style>
{% endblock %}

{% block body %}
<h1>Common statistiс</h1>
<form action="" method='get'>
    <label for="order">Order list by laps time:</label>
    <select id="order" name="order">
        <option value="asc" selected>ASC</option>
        <option value="desc">DESC</option>
    </select>
    <input type="submit" value="Submit">
</form>
<ol>
    <table>
        <tr>
            <th>Racer name</th>
            <th>TEAM</th>
            <th>Laps time</th>
        </tr>
        {% for drivers in winlist.values()%}
        <tr>
            <td>
                <li>{{ drivers['name']|e }}</li>
            </td>
            <td>{{ drivers['team']|e }}</td>
            <td>{{ drivers['time']|e }}</td>
        </tr>
        {% endfor %}
    </table>
</ol>
{% endblock %}
